* {
    font-family: "Arial";
}

body {
    margin: 0px;
}

nav {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0057a8;
}

nav > a {
    font-weight: bold;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

.main-content {
    margin-left: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.column>button {
    text-align: left;
}

