:root {
    --primary-bg: #2c5696;
    --btn-highlight: #4d7acf;
}

html, body {
    height: 100%;
    margin: 0px;
}

body {
    font-family: "Rubik";
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
}

nav {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-bg);
}

nav>a {
    color: white;
    font-weight: bold;
    font-size: larger;
    transition: color 0.2s ease;
}

nav>a:hover {
    color: #abd4ed;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #1976d2;;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.img_div {
    display: flex;
    gap: 10px;
}

.img_div img {
    flex: 1;
    width: 50%;
    height: auto;
}

.main-content {
    flex: 1;
    margin-left: 8px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row_separator {
    min-width: 1em;
}

.upgrade_column>button {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.5em;
    width: 20em;
    min-width: 20em;
    overflow: hidden;
}

button {
    color: white;
    background-color: var(--primary-bg);
    border: none;
    transition: transform 0.2s ease; /* Kerge "animatsioon, et nupp suureneks sujuvalt" */
}

button:hover {
    background-color: var(--btn-highlight);
    transform: scale(1.1);
}

button:disabled {
    background-color: gray;
    color: lightgray;
}

.center-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-content: center;
}

.center-text>h1 {
  margin-bottom: 1vh;
}

.center-text>p {
  margin-top: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time_state {
    text-align: center;
    overflow: hidden;
    width: 24em;
    max-width: 24em;
}

.time_state>p {
    margin: 0; 
    color: var(--primary-bg);
    font-weight: bold;
}

.time_state p:nth-child(1) {
    font-size: larger;
}

.time_state p:nth-child(2) {
    font-size: xx-large;
}

.time_state p:nth-child(3) {
    font-size: larger;
    color: gray;
}

#eapclick {
    border-radius: 50%;
    padding: 1em;
    height: 8em;
    width: 8em;
    margin: 1em;
    font-size: larger;
}

#button_area {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

#particle_container {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.particle {
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: linear;
    color: lightgray;
}

/* Vt https://www.geeksforgeeks.org/css/create-effect-of-particle-animation-uisng-css/ */
@keyframes particle-motion-a {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate(calc(-50% - 4em), calc(-50% - 10em));
        opacity: 0;
    }
}

@keyframes particle-motion-b {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate(calc(-50% - 2em), calc(-50% - 8em));
        opacity: 0;
    }
}

@keyframes particle-motion-c {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate(calc(-50% + 3em), calc(-50% - 12em));
        opacity: 0;
    }
}
@keyframes particle-motion-d {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate(calc(-50% + 4em), calc(-50% - 10em));
        opacity: 0;
    }
}
